<!doctype html>
<html>
<head>
	<title>Profile</title>

	<link rel="apple-touch-icon" sizes="57x57" href="favicon_imgs/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon_imgs/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon_imgs//apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon_imgs/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon_imgs/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon_imgs/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon_imgs/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon_imgs/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon_imgs/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon_imgs/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon_imgs/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon_imgs/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon_imgs/favicon-16x16.png">

	<link href="css/creative.min.css" rel="stylesheet">
	<link rel="manifest" href="favicon_imgs/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon_imgs/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="bundle.js"> </script>
    <link rel="stylesheet" href="./awesomplete-gh-pages/awesomplete.css" rel="stylesheet">
 	<script src = "./awesomplete-gh-pages/awesomplete.js" async></script>

	<style>
		body {
			padding-top:0px; word-wrap:break-word;
		    overflow:hidden;
		}
		tr{
			height:50px;
			font-size:20px;
		}
		.form-control {
			border: 1px solid black;
			border-radius: initial !important;
		}

		.btn-submit {
			border: 1px solid black;
			color: black;
			border-radius: initial !important;
			background-color: transparent;
		}
		.btn-submit:hover, .btn-submit:focus {
			border-color: black;
			background-color: rgb(221, 221, 221);
			color: black;
		}
		.navbar-fixed-left {
			width: 300px;
			position: fixed;
			border-radius: 0;
			height: 90%;
		}

		.navbar-fixed-left .navbar-nav > li {
			float: none;  /* Cancel default li float: left */
			width: 139px;
		}

		.navbar-fixed-left + .container {
			padding-left: 160px;
		}
		hr.header {
			margin-top:0px;
			margin-bottom: 10px;
			min-width: 860px;
			border-width: 5px;
			border-color:#000000;
		}

		.inputBoxes {
			width: 1500px;
			height: 40px;
			margin-bottom: 5px
		}
		@media (min-width:400px){
			.inputBoxes {
				width: 90px;
			}
			hr.header {
				min-width: 140px
			}
		}
		@media (min-width:768px){
			.inputBoxes {
				width: 500px;
				margin-left:150px;
			}
			hr.header {
				min-width: 860px
			}
		}

		.smallwell{
			border-radius: 5px;
			background-color:#fff;
			border:2px solid #eee;
		}

		table {
		  border-collapse: collapse;
		}

		td {
		  border: 1px solid #999;
		  padding: 0.5rem;
		  text-align: left;
			font-size:18px;
		}
		th {
		  background: steelblue;
		  height: 54px;
		  width: 25%;
		  text-shadow: 0 1px 0 #38678f;
		  color: white;
		  border: 1px solid #38678f;
		  transition: all 0.2s;
			padding: 0.5rem;
		}
		.checkout-btn {
			margin-top:200px;
			margin-bottom:20px;
		  -webkit-border-radius: 4;
		  -moz-border-radius: 4;
		  border-radius: 4px;
		  font-family: Arial;
		  color: #ffffff;
		  font-size: 20px;
		  background: #347ed9;
		  padding: 5px 20px 5px 20px;
		  text-decoration: none;
		}

		.checkout-btn:hover {
		  background: #3cb0fd;
		  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
		  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
		  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
		  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
		  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
		  text-decoration: none;
		}
	</style>
</head>

<body>
	<div class = "row">
		<div class="navbar navbar-inverse navbar-fixed-left col-sm-6" style="height:100%;">

			<div class="" style="height:40px; padding-right:15px; width:285px;border-style: solid; border-bottom:solid #fff;">
				<h3 style="font-size:20px; text-align:center; color:white">Dashboard</h3>
			</div>

			<!-- navbar -->
		  	<ul class="nav navbar-nav">
		   		<li><a id = "revealButton" onclick = "revealAdd()">Current Cities</a></li>
		  	</ul>
		  	<ul class="nav navbar-nav">
		  	  <li><a href="/" onclick = "login()">Home</a></li>
		  	</ul>
		  	<ul class="nav navbar-nav">
          <li><a href="/">Logout</a></li>
		  	</ul>

	</div>

	<!-- second column -->
	<div class="col-sm-10" style = "margin-left:285px; margin-top:0px">
		<h3 id="name" style="height:41px;margin-right:0px; text-align:center; margin-left:0px; margin-top:20px; border-style: solid; border-bottom:solid #086485;">Contracts Open</h3>
		<div id="cellcontainer" style="display:inline; width:0px">
			<span style="display:inline-block">
				<h2 style="display:inline">
					<%- m -%> -
				</h2>
				<h2 style="display:inline">
					<%- duration -%>
					<%- price -%>
					<%- premium -%>
				</h2>
			</span>
			<span style="position:relative; top:10px;">
				<div style="font-size:20px;">
					<b style="display:inline">About - </b><p style="word-wrap:break-word; width:30em;"> asdfasdfasaslkdjfalksdjflakdofajlskdfjalskdfjlaskdjflaskdjflaskdjflaksjdflkasjdlfalsdkfjalskdjf</p>
				</div>
				<div style="font-size:20px;">
					<b style="display:inline">Reason for Rate - </b><p style="word-wrap:break-word; width:30em;"> asdfasdfasaslkdjfalksdjflakdofajlskdfjalskdfjlaskdjflaskdjflaskdjflaksjdflkasjdlfalsdkfjalskdjf</p>
				</div>
			</span>
		</div>
		<div class="smallwell" style="position:fixed; right:40px; top:64px;width:20%">
			<div style="text-align:center">
				<h1 style="text-decoration:underline">
					Buy contact
				</h1>
				<h3>
					# of shares
				</h3>
				<form>
					<input type="number" value="1">  </input>

					<input class="checkout-btn" type="submit" value="Checkout">
				</form>

			</div>
		</div>
	</div>
</div>


	<!-- adding people section -->
</div>
</div>

<script>



</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</body>
</html>
